name: pr-tests

# bump 1
on:
  pull_request:
    branches:
      - main

# Use concurrency to ensure that only one instance of this workflow is running at a time
concurrency:
  group: pr-tests-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha || github.ref }}

      - uses: prefix-dev/setup-pixi@v0.9.3  # https://github.com/prefix-dev/setup-pixi
        with:
          pixi-version: latest
          cache: true
          environments: lint

      - run: pixi run lint

  build_test:
    name: ada-cpp-${{ matrix.platform.name }}-test
    runs-on: ${{ matrix.platform.distver }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        platform: [
          { name: win, distver: windows-latest, pkg_dir: 'win-64' },
          { name: linux, distver: ubuntu-latest, pkg_dir: 'linux-64' },
          { name: macOS, distver: macos-15, pkg_dir: 'osx-64' }
        ]
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha || github.ref }}

      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: latest
          environments: conda
          cache: true

      - name: install package
        run: |
          pixi run conda-build